*{
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Ubuntu', sans-serif;
}

.main-div{
    display: flex;
    justify-content: center;
    background-color: white;
    padding-bottom: 70px;
    overflow: hidden;
}

.submit-btn{
    background-color: #236712; 
    color: white;
    padding: 5px 20px;
    border-radius: 5px;
    border: 1px solid #236712;
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.submit-btn:hover{
    background-color: #143b0a;
}

.login-a{
    text-decoration: none;
    color: black;
}

.login-a:hover{
    text-decoration: underline;
    color: black;
}

input{
    border: 1px solid rgb(202, 202, 202);
    /* border: 1px solid red; */
    outline: none;
    border-radius: 5px;
    padding: 7px;
    width: 100%;
}

.error{
    margin-bottom:10px; 
    color: rgb(255, 0, 0); 
    font-size: 14px;
    border-radius: 5px;
}

.loading-main-div{
    background: #ffffff;
    height: 100%; 
    width: 100%; 
    position: absolute; 
    top: 0; 
    left: 0;
    opacity: 0.8;
    display: none;
}

/* Animations */
    #form-id {
        position: relative;
        overflow: hidden;
    }

    #form-id.slide-in-left {
        animation: slide-in-left 0.5s ease-in-out forwards;
    }

    @keyframes slide-in-left {
        0% {
        transform: translateX(-100%);
        }
        100% {
        transform: translateX(0%);
        }
    }
/* Animations */